<!-- core/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axion Node - An open source social platform</title>
</head>
<body>
    <h1>Axion Node</h1>
    <p>Welcome to the Axion Node backend. This confirms that your backend is running.</p>
    <p>If you see this message, you are most likely testing locally.</p>
    <p>This page is served via the backend and is a django template.</p>
</body>
</html>